h1 {
  text-align: center;
}

.Navbar {
  float: left;
  background-color: rgb(34, 113, 84);
  backdrop-filter: sepia(80%);
}
.bg {
  background-color: rgb(34, 113, 84);
}

footer {
  text-align: center;
}
