.nav-item :hover {
  color: rgb(107, 104, 104);
}
/* DESKTOP */
@media all and (min-width:1200px) {
  .nav-link {
    color: #000;
    margin-top: 1.7rem;
    margin-bottom: 1.9rem;
    
  }
  .nav-item {
    font-size: 2rem;
  }
  
}
 


/* TABLET/ Laptop */
@media all and (min-width:501px) and (max-width:1199px) {
  .nav-link {
    color: #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .nav-item {
    font-size: 2rem;
  }
  
}

/* PHONE */
@media all and (max-width:500px) {
  .nav-link {
    color: #000;
    margin-top: 1.7rem;
    margin-bottom: 1.9rem;
  }
  .nav-item {
    font-size: 2rem;
  }
  
}